
window {
	all: unset;
	font-family: DejaVu, sans-serif, bold, mono;
	font-size: 16px;
	background-color: #1d1825;
	color: #c4b9a6;
}

#inner-box {
	padding: 20px;
}

#entry {
	text-align: center;
}

#input {
	border: 5px;
	border-style: solid;
	border-color: #51764c;
	border-radius: 20px;
	background-color: #1d1825;
	color: #c4b9a6;
	margin: 10px;
}

#input:focus {
	box-shadow: none;
}

#entry:selected {
	background-color: #51764c;
}
